@using Microsoft.AspNetCore.Components.Web
@namespace BlazorConsumer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bulma.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    @*<link href="BlazorConsumer.styles.css" rel="stylesheet" />*@
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="modalAboutDialog" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">About the app</p>
                <button class="delete" aria-label="close" onclick="hideAbout()"></button>
            </header>
            <section class="modal-card-body">
                <p>This is a just for fun app, made as a way to check MS Web Api and Blazor Server technologies.</p>
                <p class="m-2">The actual speech generation part of the app is pretty dumb - no complex ML algorithms and natural language processing here: Just some simple random selections from pre-made lists of words.</p>
                <p class="m-2">The initial political speech text patterns are shamelessly copied from a newspaper article by Elias Anagnostopoulos. The content is attributed to "Epitheorisi Politika" (Επιθεώρηση ΠΟΛΙΤΙΚΑ)</p>
            </section>
        </div>
    </div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script type="text/javascript">
        function showAbout() {
            var el = document.querySelector("#modalAboutDialog");
            el.classList.add("is-active");
        }
        function hideAbout() {
            var el = document.querySelector("#modalAboutDialog");
            el.classList.remove("is-active");
        }

        </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
