@page "/"
@page "/index"

<PageTitle>Index</PageTitle>
<section class="hero">
    <div class="hero-body">
        <h1 class="title mt-2" style="outline:none">
            Welcome to Poor man's lingo generator
        </h1>
        <p class="subtitle">
            This is a bilingual (english/greek) online toy, that generates various text patterns, attempting to sound funny. Hahaha.
        </p>
    </div>
</section>
