@page "/"
@page "/index"

<PageTitle>Index</PageTitle>
<section class="hero">
    <div class="hero-body">
        <h1 class="title mt-2" style="outline:none">
            Welcome to the famous nonsensical online content generator.
        </h1>
        <p class="subtitle">
            This is a bilingual (english/greek) online toy, that generates various text patterns, attempting to sound funny. Hahaha.
        </p>
        <p class="block">So, what do you want to see?</p>
        <p class="block">Do you want to generate some <a href="/jobtitles">bogus job titles</a> (english/greek)?</p>
        <p class="block">Perhaps you'd like to generate a <a href="/politicalspeech">meaningless political speech</a> (greek only)?</p>
    </div>
</section>
