@inherits LayoutComponentBase

<PageTitle>PMLG</PageTitle>

<section class="section">
    <div class="container">
        <div>
            <NavMenu />
        </div>
        @Body
    </div>
</section>


